#map { height: 100%; }
header .mdl-textfield__label {color: #9CA7E6;}
.no-result {font-size: 12px; padding-left: 10px;}
.jp-place-card.mdl-card {
    width: 100%;
    color: #eee;
}
.mdl-layout__drawer .mdl-card, .mdl-layout__drawer .mdl-card__title {
    background-color: #9CA7E6;
    color: #fff;
    height: auto;
    min-height: 30px;
    cursor: pointer;
}
.mdl-layout__drawer .mdl-card__title {padding: 10px 16px;}
.mdl-layout__drawer .mdl-card__title-text{
    font-size: 14px;
    line-height: 14px;
}
.jp-place-card.mdl-card.selected {background-color: #ccc;}
#popup {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
#popup .mdl-card__title.img-in-title {padding-top: 0;}
#popup ul {
    -webkit-margin-before: 10px;
    -webkit-padding-start: 10px;
}

#closebtn {position: absolute; right: 20px; top: 20px;}
#flickr-panel li {float: left; margin: 5px;}
.mdl-tabs__panel li {list-style: none; line-height: 20px;}
.mdl-tabs__panel li a {color: #9CA7E6; text-decoration: none;}
.mdl-tabs__panel a:hover, .mdl-tabs__panel li a:visited{color: darkslateblue;}
.error-text {
    font-size: 18px;
    line-height: 24px;
    padding: 50px 10px 0 30px;
    color: darkslateblue;
}